In [1]:
import pandas as pd

In [2]:
#pd.set_option('display.max_rows', None)
pd.reset_option('display.max_rows')

In [3]:
df = pd.read_excel('EPSM_dataset_clean.xlsx')
df_wip = df.copy()

# 1. Step: Understand what each column represents

In [4]:
df.head()

,country_name,country_text_id,country_id,year,project,historical,histname,gapstart1,gapstart2,gapstart3,...,edu_power,edu_power_indp,operate_prim,operate_sec,operate_high,school_lead_prim,school_lead_sec,teacher_training_presence,teacher_training_sour,teacher_training_ideology
0,Mexico,MEX,3,1789,1,1,Viceroyalty of New Spain,NaN,NaN,NaN,...,1.0,1.0,9.0,9.0,1.0,1.0,1.0,1.0,NaN,1
1,Mexico,MEX,3,1790,1,1,Viceroyalty of New Spain,NaN,NaN,NaN,...,1.0,1.0,9.0,9.0,1.0,1.0,1.0,1.0,NaN,1
2,Mexico,MEX,3,1791,1,1,Viceroyalty of New Spain,NaN,NaN,NaN,...,1.0,1.0,9.0,9.0,1.0,1.0,1.0,1.0,NaN,1
3,Mexico,MEX,3,1792,1,1,Viceroyalty of New Spain,NaN,NaN,NaN,...,1.0,1.0,9.0,9.0,1.0,1.0,1.0,1.0,NaN,1
4,Mexico,MEX,3,1793,1,1,Viceroyalty of New Spain,NaN,NaN,NaN,...,1.0,1.0,9.0,9.0,1.0,1.0,1.0,1.0,NaN,1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27168 entries, 0 to 27167
Data columns (total 36 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   country_name               27168 non-null  object
 1   country_text_id            27168 non-null  object
 2   country_id                 27168 non-null  int64
 3   year                       27168 non-null  int64
 4   project                    27168 non-null  int64
 5   historical                 27168 non-null  int64
 6   histname                   27067 non-null  object
 7   gapstart1                  0 non-null      float64
 8   gapstart2                  0 non-null      float64
 9   gapstart3                  0 non-null      float64
 10  gapend1                    0 non-null      float64
 11  gapend2                    0 non-null      float64
 12  gapend3                    0 non-null      float64
 13  COWcode                    26416 non-null  float64
 14  compuls_exist              22863 non-null  float64
 15  free_exist                 15533 non-null  object
 16  compuls_exempt             21203 non-null  object
 17  compuls_years              21884 non-null  float64
 18  national_civics_prim       22794 non-null  float64
 19  national_civics_sec        21091 non-null  float64
 20  national_civics_high       16887 non-null  float64
 21  national_civics_contents   18697 non-null  object
 22  subjects_ban               22690 non-null  float64
 23  books_oblig                22556 non-null  object
 24  military_edu_inst          22207 non-null  object
 25  edu_dep                    22820 non-null  float64
 26  edu_power                  22705 non-null  float64
 27  edu_power_indp             22705 non-null  float64
 28  operate_prim               22747 non-null  float64
 29  operate_sec                21064 non-null  float64
 30  operate_high               17120 non-null  float64
 31  school_lead_prim           22621 non-null  float64
 32  school_lead_sec            21248 non-null  float64
 33  teacher_training_presence  22817 non-null  float64
 34  teacher_training_sour      21192 non-null  object
 35  teacher_training_ideology  22774 non-null  object
dtypes: float64(22), int64(4), object(10)
memory usage: 7.5+ MB

In [6]:
# Drop all columns starting with 'gap' 
gap_cols = df.columns[df.columns.str.startswith('gap')]
df_wip = df.drop(gap_cols, axis=1)

In [7]:
# How many unique values are there?
print(f"# of COWcodes: {df['COWcode'].nunique()}") # Use double quotes or single quotes will cause problems
print(f"# of country_ids: {df['country_id'].nunique()}")

# How many NANs are there?
print(f"# of COWcodes NAN: {df['COWcode'].isna().sum()}")
print(f"# of country_ids NAN: {df['country_id'].isna().sum()}")

# of COWcodes: 195
# of country_ids: 202
# of COWcodes NAN: 752
# of country_ids NAN: 0

In [8]:
# Show country_name where COW is NAN
df.loc[df['COWcode'].isna()]['country_name'].nunique()

12

In [9]:
# What does the column 'Project' represent?
df['project'].value_counts()

project
0    17320
1     8357
2     1491
Name: count, dtype: int64

In [10]:
# What does the column 'historical' represent?
df['historical'].value_counts()

historical
1    16671
0    10497
Name: count, dtype: int64

In [11]:
# Drop unclear columns
df_wip = df_wip.drop(['COWcode', 'project', 'historical'], axis=1)

In [12]:
# Check all 'object' cols
object_cols = df_wip.select_dtypes(include='object')
object_cols

,country_name,country_text_id,histname,free_exist,compuls_exempt,national_civics_contents,books_oblig,military_edu_inst,teacher_training_sour,teacher_training_ideology
0,Mexico,MEX,Viceroyalty of New Spain,NaN,0,6,1,1,NaN,1
1,Mexico,MEX,Viceroyalty of New Spain,NaN,0,6,1,1,NaN,1
2,Mexico,MEX,Viceroyalty of New Spain,NaN,0,6,1,1,NaN,1
3,Mexico,MEX,Viceroyalty of New Spain,NaN,0,6,1,1,NaN,1
4,Mexico,MEX,Viceroyalty of New Spain,NaN,0,6,1,1,NaN,1
...,...,...,...,...,...,...,...,...,...,...
27163,Piedmont-Sardinia,SPD,Kingdom of Piedmont-Sardinia,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27164,Piedmont-Sardinia,SPD,Kingdom of Piedmont-Sardinia [incorporates Lom...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27165,Piedmont-Sardinia,SPD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27166,Piedmont-Sardinia,SPD,Kingdom of Piedmont-Sardinia,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27167,Dominican Republic,DOM,Dominican Republic,2,0,1;5,1,1,1,1;2

In [13]:
# Show values of free_exist
df_wip['free_exist'].value_counts() # ! Does not show NA values!

free_exist
2        11327
1         4031
0          170
2;3;4        5
Name: count, dtype: int64

In [14]:
# Show rows with odd entry
df_wip[df_wip['free_exist'] == '2;3;4']

,country_name,country_text_id,country_id,year,histname,compuls_exist,free_exist,compuls_exempt,compuls_years,national_civics_prim,...,edu_power,edu_power_indp,operate_prim,operate_sec,operate_high,school_lead_prim,school_lead_sec,teacher_training_presence,teacher_training_sour,teacher_training_ideology
20914,Equatorial Guinea,GNQ,160,1914,Spanish colony,2.0,2;3;4,0,10.0,2.0,...,1.0,4.0,5.0,5.0,NaN,1.0,1.0,3.0,2,4
20915,Equatorial Guinea,GNQ,160,1915,Spanish colony,2.0,2;3;4,0,10.0,2.0,...,1.0,4.0,5.0,5.0,NaN,1.0,1.0,3.0,2,4
20916,Equatorial Guinea,GNQ,160,1916,Spanish colony,2.0,2;3;4,0,10.0,2.0,...,1.0,4.0,5.0,5.0,NaN,1.0,1.0,3.0,2,4
20917,Equatorial Guinea,GNQ,160,1917,Spanish colony,2.0,2;3;4,0,10.0,2.0,...,1.0,4.0,5.0,5.0,NaN,1.0,1.0,3.0,2,4
20918,Equatorial Guinea,GNQ,160,1918,Spanish colony,2.0,2;3;4,0,4.0,2.0,...,1.0,4.0,5.0,5.0,NaN,1.0,1.0,3.0,2,4

In [15]:
# Show all rows of corresponding country
df_wip[df_wip['country_id'] == 160]

,country_name,country_text_id,country_id,year,histname,compuls_exist,free_exist,compuls_exempt,compuls_years,national_civics_prim,...,edu_power,edu_power_indp,operate_prim,operate_sec,operate_high,school_lead_prim,school_lead_sec,teacher_training_presence,teacher_training_sour,teacher_training_ideology
20900,Equatorial Guinea,GNQ,160,1900,Spanish colony,1.0,NaN,0,0.0,2.0,...,1.0,1.0,5.0,5.0,NaN,1.0,1.0,3.0,2,4
20901,Equatorial Guinea,GNQ,160,1901,Spanish colony,1.0,NaN,0,0.0,2.0,...,1.0,1.0,5.0,5.0,NaN,1.0,1.0,3.0,2,4
20902,Equatorial Guinea,GNQ,160,1902,Spanish colony,1.0,NaN,0,0.0,2.0,...,1.0,1.0,5.0,5.0,NaN,1.0,1.0,3.0,2,4
20903,Equatorial Guinea,GNQ,160,1903,Spanish colony,1.0,NaN,0,0.0,2.0,...,1.0,1.0,5.0,5.0,NaN,1.0,1.0,3.0,2,4
20904,Equatorial Guinea,GNQ,160,1904,Spanish colony,1.0,NaN,0,0.0,2.0,...,1.0,1.0,5.0,5.0,NaN,1.0,1.0,3.0,2,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21016,Equatorial Guinea,GNQ,160,2016,Republic of Equatorial Guinea [independent state],3.0,2,0,10.0,2.0,...,4.0,4.0,8.0,3.0,9.0,3.0,3.0,3.0,1,1
21017,Equatorial Guinea,GNQ,160,2017,Republic of Equatorial Guinea [independent state],3.0,2,0,10.0,2.0,...,4.0,4.0,8.0,3.0,9.0,3.0,3.0,3.0,1,1
21018,Equatorial Guinea,GNQ,160,2018,Republic of Equatorial Guinea [independent state],3.0,2,0,10.0,2.0,...,4.0,4.0,8.0,3.0,9.0,3.0,3.0,3.0,1,1
21019,Equatorial Guinea,GNQ,160,2019,Republic of Equatorial Guinea [independent state],3.0,2,0,10.0,2.0,...,4.0,4.0,8.0,3.0,9.0,3.0,3.0,3.0,1,1
21020,Equatorial Guinea,GNQ,160,2020,Republic of Equatorial Guinea [independent state],3.0,2,0,10.0,2.0,...,4.0,4.0,8.0,3.0,9.0,3.0,3.0,3.0,1,1

In [16]:
# Show entries from compuls_exempt column
df_wip['compuls_exempt'].value_counts()

compuls_exempt
0          16592
3;4          760
3            662
1;3;4        472
2;3          303
3;5          280
1;2;3        259
2            254
2;3;4        190
1;4          173
1;3;5        155
4            136
4;2          129
2;4          125
4;1;3;5      118
3;4;5        109
1;3           90
1;2;3;4       78
1             57
1;2;4;3       46
1;2;4         44
3;2;4         30
4;5           27
1;3;4;5       26
3;2;5         20
4;3           20
4;1;5         19
1;4;3         14
2;4;5         11
2;5            4
Name: count, dtype: int64

In [17]:
# Adjust entries according to assumption
df_wip.loc[20914:20918, 'free_exist'] = 1
df_wip.loc[20914:20918, 'compuls_exempt'] = '2;3;4'
df_wip.loc[20914:20918]

,country_name,country_text_id,country_id,year,histname,compuls_exist,free_exist,compuls_exempt,compuls_years,national_civics_prim,...,edu_power,edu_power_indp,operate_prim,operate_sec,operate_high,school_lead_prim,school_lead_sec,teacher_training_presence,teacher_training_sour,teacher_training_ideology
20914,Equatorial Guinea,GNQ,160,1914,Spanish colony,2.0,1,2;3;4,10.0,2.0,...,1.0,4.0,5.0,5.0,NaN,1.0,1.0,3.0,2,4
20915,Equatorial Guinea,GNQ,160,1915,Spanish colony,2.0,1,2;3;4,10.0,2.0,...,1.0,4.0,5.0,5.0,NaN,1.0,1.0,3.0,2,4
20916,Equatorial Guinea,GNQ,160,1916,Spanish colony,2.0,1,2;3;4,10.0,2.0,...,1.0,4.0,5.0,5.0,NaN,1.0,1.0,3.0,2,4
20917,Equatorial Guinea,GNQ,160,1917,Spanish colony,2.0,1,2;3;4,10.0,2.0,...,1.0,4.0,5.0,5.0,NaN,1.0,1.0,3.0,2,4
20918,Equatorial Guinea,GNQ,160,1918,Spanish colony,2.0,1,2;3;4,4.0,2.0,...,1.0,4.0,5.0,5.0,NaN,1.0,1.0,3.0,2,4

In [18]:
# Change format of col compul_exist to int
df_wip['free_exist'] = pd.to_numeric(df_wip['free_exist'], errors='coerce') # Use to_numeric because of nan. Would give error with astype

In [19]:
df_wip['books_oblig'].value_counts()

books_oblig
1      21618
3        689
2        191
2;3       58
Name: count, dtype: int64

In [20]:
df_wip.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27168 entries, 0 to 27167
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   country_name               27168 non-null  object
 1   country_text_id            27168 non-null  object
 2   country_id                 27168 non-null  int64
 3   year                       27168 non-null  int64
 4   histname                   27067 non-null  object
 5   compuls_exist              22863 non-null  float64
 6   free_exist                 15533 non-null  float64
 7   compuls_exempt             21203 non-null  object
 8   compuls_years              21884 non-null  float64
 9   national_civics_prim       22794 non-null  float64
 10  national_civics_sec        21091 non-null  float64
 11  national_civics_high       16887 non-null  float64
 12  national_civics_contents   18697 non-null  object
 13  subjects_ban               22690 non-null  float64
 14  books_oblig                22556 non-null  object
 15  military_edu_inst          22207 non-null  object
 16  edu_dep                    22820 non-null  float64
 17  edu_power                  22705 non-null  float64
 18  edu_power_indp             22705 non-null  float64
 19  operate_prim               22747 non-null  float64
 20  operate_sec                21064 non-null  float64
 21  operate_high               17120 non-null  float64
 22  school_lead_prim           22621 non-null  float64
 23  school_lead_sec            21248 non-null  float64
 24  teacher_training_presence  22817 non-null  float64
 25  teacher_training_sour      21192 non-null  object
 26  teacher_training_ideology  22774 non-null  object
dtypes: float64(16), int64(2), object(9)
memory usage: 5.6+ MB

In [21]:
# Remove logical inconsistency: Where there is no free education, it cannot be free by law
df_wip.loc[(df_wip['compuls_exist'] == 1) & (df_wip['free_exist'] == 2), 'free_exist'] = 1
# Check that no rows remain
len(df_wip.loc[(df_wip['compuls_exist'] == 1) & (df_wip['free_exist'] == 2)])

0

In [22]:
# Remove logical inconsistency: Where there is no compulsory ed., no groups can be excluded from it

# Change compuls_ed of Nigeria to some groups excluded because years of comp. ed = 6
df_wip.loc[6741:6744, 'compuls_exist'] = 2

In [23]:
# Change remaining cases to no groups excluded
df_wip.loc[(df_wip['compuls_exist'] == 1) & ~((df_wip['compuls_exempt'] == 0) | (df_wip['compuls_exempt'].isna())), 'compuls_exempt'] = 0
# Check that no rows remain
len(df_wip.loc[(df_wip['compuls_exist'] == 1) & ~((df_wip['compuls_exempt'] == 0) | (df_wip['compuls_exempt'].isna()))])

0

In [24]:
# Check for logical inconsistency: where there is supposedly free ed for everyone, yet there are excluded groups
df_wip.loc[(df_wip['compuls_exist'] == 3) & ~((df_wip['compuls_exempt'] == 0) | (df_wip['compuls_exempt'].isna())), 'compuls_exist'] = 2

In [25]:
# Whenever there are groups not included in compul. ed. (compul_exist = 2), does that mean there are groups excluded (compuls_exempt != 0 or NA)
x = len(df_wip.loc[(df_wip['compuls_exist'] == 2) & ~((df_wip['compuls_exempt'] == 0) | (df_wip['compuls_exempt'].isna()))])
y = len(df_wip.loc[~((df_wip['compuls_exempt'] == 0) | (df_wip['compuls_exempt'].isna()))])
x/y*100

100.0

In [26]:
# Check for logical inconsistency: if there are positive years of comp. ed. for countries without comp. ed. 
df1 = df_wip.loc[((df_wip['compuls_exist'] == 1) | (df_wip['compuls_exist'].isna())) & (df_wip['compuls_years'] > 0)]
df1

,country_name,country_text_id,country_id,year,histname,compuls_exist,free_exist,compuls_exempt,compuls_years,national_civics_prim,...,edu_power,edu_power_indp,operate_prim,operate_sec,operate_high,school_lead_prim,school_lead_sec,teacher_training_presence,teacher_training_sour,teacher_training_ideology
14221,Sierra Leone,SLE,95,1995,Republic of Sierra Leone [independent state],1.0,NaN,0,9.0,2.0,...,4.0,4.0,9.0,9.0,3.0,1.0,2.0,3.0,1;2,1
14222,Sierra Leone,SLE,95,1996,Republic of Sierra Leone [independent state],1.0,NaN,0,9.0,2.0,...,4.0,4.0,9.0,9.0,3.0,1.0,2.0,3.0,1;2,1
14223,Sierra Leone,SLE,95,1997,Republic of Sierra Leone [independent state],1.0,NaN,0,9.0,2.0,...,4.0,4.0,9.0,9.0,3.0,1.0,2.0,3.0,1;2,1
14224,Sierra Leone,SLE,95,1998,Republic of Sierra Leone [independent state],1.0,NaN,0,9.0,2.0,...,4.0,4.0,9.0,9.0,3.0,1.0,2.0,3.0,1;2,1
14225,Sierra Leone,SLE,95,1999,Republic of Sierra Leone [independent state],1.0,NaN,0,9.0,2.0,...,4.0,4.0,9.0,9.0,3.0,1.0,2.0,3.0,1;2,1
14226,Sierra Leone,SLE,95,2000,Republic of Sierra Leone [independent state],1.0,NaN,0,9.0,2.0,...,4.0,4.0,9.0,9.0,3.0,1.0,2.0,3.0,1;2,1
14227,Sierra Leone,SLE,95,2001,Republic of Sierra Leone [independent state],1.0,NaN,0,9.0,2.0,...,4.0,4.0,8.0,8.0,3.0,2.0,2.0,3.0,1;2,1
14228,Sierra Leone,SLE,95,2002,Republic of Sierra Leone [independent state],1.0,NaN,0,9.0,2.0,...,4.0,4.0,8.0,8.0,3.0,2.0,2.0,3.0,1;2,1
14229,Sierra Leone,SLE,95,2003,Republic of Sierra Leone [independent state],1.0,NaN,0,9.0,2.0,...,4.0,4.0,8.0,8.0,3.0,2.0,2.0,3.0,1;2,1
15308,Uruguay,URY,102,1826,Provincia Oriental del RÃ­o de la Plata [formal...,1.0,1.0,0,1.0,1.0,...,1.0,1.0,3.0,6.0,3.0,1.0,1.0,2.0,2,1;4
15330,Uruguay,URY,102,1848,Oriental Republic of Uruguay,1.0,NaN,0,1.0,2.0,...,4.0,4.0,3.0,8.0,3.0,1.0,1.0,3.0,1;2,2;4
18791,Trinidad and Tobago,TTO,135,1921,Trinidad and Tobago as a British colony,1.0,1.0,0,6.0,1.0,...,4.0,4.0,7.0,6.0,NaN,2.0,1.0,2.0,1;2;4,1
22654,Malaysia,MYS,177,1996,Malaysia,1.0,NaN,0,6.0,2.0,...,4.0,4.0,3.0,3.0,3.0,3.0,3.0,3.0,1,2
23701,Oman,OMN,187,2006,Sultanate of Oman,1.0,1.0,0,10.0,2.0,...,3.0,3.0,8.0,3.0,8.0,3.0,3.0,2.0,1;2,3
23702,Oman,OMN,187,2007,Sultanate of Oman,1.0,1.0,0,10.0,2.0,...,3.0,3.0,8.0,3.0,8.0,3.0,3.0,2.0,1;2,3
23703,Oman,OMN,187,2008,Sultanate of Oman,1.0,1.0,0,10.0,2.0,...,3.0,3.0,8.0,3.0,8.0,3.0,3.0,2.0,1;2,3
23704,Oman,OMN,187,2009,Sultanate of Oman,1.0,1.0,0,10.0,2.0,...,3.0,3.0,8.0,3.0,8.0,3.0,3.0,2.0,1;2,3
23705,Oman,OMN,187,2010,Sultanate of Oman,1.0,1.0,0,10.0,2.0,...,3.0,3.0,8.0,3.0,8.0,3.0,3.0,2.0,1;2,3
23706,Oman,OMN,187,2011,Sultanate of Oman,1.0,1.0,0,10.0,2.0,...,3.0,3.0,8.0,3.0,8.0,3.0,3.0,2.0,1;2,3
23707,Oman,OMN,187,2012,Sultanate of Oman,1.0,1.0,0,10.0,2.0,...,3.0,3.0,8.0,3.0,8.0,3.0,3.0,2.0,1;2,3
23708,Oman,OMN,187,2013,Sultanate of Oman,1.0,1.0,0,10.0,2.0,...,3.0,3.0,8.0,3.0,8.0,3.0,3.0,2.0,1;2,3
23709,Oman,OMN,187,2014,Sultanate of Oman,1.0,1.0,0,10.0,2.0,...,3.0,3.0,8.0,3.0,8.0,3.0,3.0,2.0,1;2,3
23710,Oman,OMN,187,2015,Sultanate of Oman,1.0,1.0,0,10.0,2.0,...,3.0,3.0,8.0,8.0,8.0,3.0,3.0,2.0,1;2,3
23711,Oman,OMN,187,2016,Sultanate of Oman,1.0,1.0,0,10.0,2.0,...,3.0,3.0,8.0,8.0,8.0,3.0,3.0,2.0,1;2,3
23712,Oman,OMN,187,2017,Sultanate of Oman,1.0,1.0,0,10.0,2.0,...,4.0,4.0,8.0,8.0,8.0,3.0,3.0,2.0,1;2,3
23713,Oman,OMN,187,2018,Sultanate of Oman,1.0,1.0,0,10.0,2.0,...,4.0,4.0,8.0,8.0,8.0,3.0,3.0,3.0,1;2,3
23714,Oman,OMN,187,2019,Sultanate of Oman,1.0,1.0,0,10.0,2.0,...,4.0,4.0,8.0,8.0,8.0,3.0,3.0,3.0,1;2,3
23715,Oman,OMN,187,2020,Sultanate of Oman,1.0,1.0,0,10.0,2.0,...,4.0,4.0,8.0,8.0,8.0,3.0,3.0,3.0,1;2,3

In [27]:
# Change compuls_exist for Urugay & Trinidad to 3
df_wip.loc[[15308,18791], 'compuls_exist'] = 3

In [28]:
# Change years of comp. ed. to 0 for remaining countries from df1 (after reloading df1 to remove previously changed rows!)
df1_rows = list(df1.index)
df_wip.loc[df1_rows, 'compuls_years'] = 0

In [29]:
# Check which columns have a value for compuls_year between 0-1
df2 = df_wip.loc[df_wip['compuls_years'].between(0, 1, inclusive='neither')]
df2

,country_name,country_text_id,country_id,year,histname,compuls_exist,free_exist,compuls_exempt,compuls_years,national_civics_prim,...,edu_power,edu_power_indp,operate_prim,operate_sec,operate_high,school_lead_prim,school_lead_sec,teacher_training_presence,teacher_training_sour,teacher_training_ideology
4958,Vietnam,VNM,34,1950,Democratic Republic of Vietnam,3.0,2.0,NaN,0.11,2.0,...,4.0,4.0,8.0,8.0,3.0,3.0,3.0,1.0,NaN,NaN
4959,Vietnam,VNM,34,1951,Democratic Republic of Vietnam,3.0,2.0,NaN,0.11,2.0,...,4.0,4.0,8.0,8.0,3.0,3.0,3.0,1.0,NaN,NaN
4960,Vietnam,VNM,34,1952,Democratic Republic of Vietnam,3.0,2.0,NaN,0.11,2.0,...,4.0,4.0,8.0,8.0,3.0,3.0,3.0,1.0,NaN,NaN
4961,Vietnam,VNM,34,1953,Democratic Republic of Vietnam,3.0,2.0,NaN,0.11,2.0,...,4.0,4.0,8.0,8.0,3.0,3.0,3.0,1.0,NaN,NaN
4962,Vietnam,VNM,34,1954,Democratic Republic of Vietnam,3.0,2.0,NaN,0.11,2.0,...,4.0,4.0,8.0,8.0,3.0,3.0,3.0,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10595,Chile,CHL,72,1916,Republic of Chile,2.0,2.0,3;4,0.41,2.0,...,4.0,4.0,10.0,10.0,3.0,3.0,3.0,2.0,1,2
10596,Chile,CHL,72,1917,Republic of Chile,2.0,2.0,3;4,0.41,2.0,...,4.0,4.0,10.0,10.0,3.0,3.0,3.0,2.0,1,2
10597,Chile,CHL,72,1918,Republic of Chile,2.0,2.0,3;4,0.41,2.0,...,4.0,4.0,10.0,10.0,3.0,3.0,3.0,2.0,1,2
10598,Chile,CHL,72,1919,Republic of Chile,2.0,2.0,3;4,0.41,2.0,...,4.0,4.0,10.0,10.0,3.0,3.0,3.0,2.0,1,2
10599,Chile,CHL,72,1920,Republic of Chile,2.0,2.0,3;4,0.41,2.0,...,4.0,4.0,10.0,10.0,3.0,3.0,3.0,3.0,1,2

In [30]:
# Check total # of countries in 2020
df_wip.loc[df_wip['year'] == 2020, 'country_id']

231        3
583        5
806        6
925        7
1046       8
        ...
25027    201
25059    202
25349    207
25612    210
27167    114
Name: country_id, Length: 154, dtype: int64

# Create csv

In [31]:
df_ready = df_wip
df_ready.to_excel('education_dataset_ready.xlsx', index=False)